{% extends 'employerheader_base.html' %}

{% block content %}
<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/price_rangs.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
<main>
<div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="static/assets/img/icon/job-list1.png">
            <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2> Edit Job hiring</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================ contact section start ================= -->
    <section class="contact-section" >
        <!-- Add this code where you want to display flash messages -->
    
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 14px;">
                    <strong>Error:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 14px;">
                    <strong>Success:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
    
                <div class="row" >
                    <div class="col-12">
                        <h2 class="contact-title" >Add Job</h2>
                    </div>
                    <br>
                    <div class="col-lg-30">
                        <form class="form-contact contact_form" action="/edit_job" method="post" id="" novalidate="novalidate">
                            <div class="row" style="max-width: fit-content;">

                                <!--<div class="col-sm-6">
                                    <label for="job_title">Company Name</label>
                                    
                                    <input style="border: 1px solid #ccc;" type="text" id="company_name_input" placeholder="{{ employer.company_name }}"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ employer.company_name }}'"  class="single-input">
                                </div>

                                <div class="col-sm-6">
                                    <label for="company_address">Company Address</label>
                                    <input style="border: 1px solid #ccc;" type="text" id="company_address_input" placeholder="{{ employer.company_address }}"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ employer.company_address }}'"
                                        value="{{ employer.company_address }}" disabled class="single-input">
                                </div>-->
                            
                 
                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="company_logo"  >Job Title</label>
                                    <input style=" border: 1px solid #ccc;" type="text" name="job_title" placeholder="{{ job.job_title }}"
									value="{{ job.job_title }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Job Title'" required
									class="single-input">
                                </div>

                               
                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="company_logo"  >Job Address</label>
                                    <input style=" border: 1px solid #ccc;" type="text" name="job_address" placeholder="{{ job.job_address }}" value="{{ job.job_address }}"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter  Job Address'" required
									class="single-input">
                                </div>

                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="rangemax"  >Minumun Salary Range</label>
                                    <input style=" border: 1px solid #ccc;" type="number" name="salary_range_min" placeholder="{{ job.salary_range_min }}" value="{{ job.salary_range_min }}"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Minumun Salary Range'" required
									class="single-input">
                                </div>

                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="rangemax"  >Maximum Salary Range</label>
                                    <input style=" border: 1px solid #ccc;" type="number" name="salary_range_max" placeholder="{{ job.salary_range_max }}" value="{{ job.salary_range_max }}"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Maximum Salary Range'" required
									class="single-input">
                                </div>

                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="description">Job Description</label>
                                    <textarea style="border: 1px solid #ccc; resize: vertical;" name="job_description"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Job Description'" required rows="5"
                                        class="single-input">{{ job.job_description }}</textarea>
                                </div>
                                <div class="col-sm-6" style="margin-top: 20px;">
                                    <label for="description">Application Requirements</label>
                                    <textarea style="border: 1px solid #ccc; resize: vertical;" name="job_requirements"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Application Requirements'" required rows="5"
                                        class="single-input">{{ job.job_requirements }}</textarea>
                                </div>
                                <div class="col-sm-6" style="margin-top: 35px;">
                                    <label for="description">Job Benefits</label>
                                    <textarea style="border: 1px solid #ccc; resize: vertical;" name="job_benefits"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Job Benefits'" required rows="5"
                                        class="single-input">{{ job.job_benefits }}</textarea>
                                </div>
                                
                                
                                <div class="col-sm-6" style="margin-top: 35px;">
                                    <label for="job_type">Job Type</label>
                                    <select name="job_type" style="border: 1px solid #ccc !important; display: block; width: 100%; height: 40px;" class="single-input" required>
                                        <option value="" disabled selected>Select Job Type</option>
                                        <option value="Full-time" {% if job.job_type == 'Full-time' %} selected {% endif %}>Full-time</option>
                                        <option value="Part-time" {% if job.job_type == 'Part-time' %} selected {% endif %}>Part-time</option>
                                    </select>
                                    <br>
                                    <label for="status">Job Status</label>
                                    <select name="status" style="border: 1px solid #ccc !important; display: block; width: 100%; height: 40px;" class="single-input" required>
                                        <option value="" disabled selected>Select Job Status</option>
                                        <option value="active" {% if job.job_status == 'active' %} selected {% endif %}>Active</option>
                                        <option value="inactive" {% if job.job_status == 'inactive' %} selected {% endif %}>Inactive</option>
                                    </select>
                                </div>
                            </div>
                            
                        
                            <input type="hidden" name="job_id" value="{{ job.id }}">

                            <div class="form-group mt-3" style="text-align: right;">
                                <button type="submit" class="button button-contactForm boxed-btn">Submit</button>
                            </div>
                            
                        </form>
                    </div>
                   
                </div>
            </div>
        </section>
        <script>
            // Get the company name from Flask template
            var companyName = "{{ company_name }}";
        
            // Set the value of the input field to company name
            document.getElementById("company_name_input").value = companyName;
        
            // Disable the input field
            document.getElementById("company_name_input").disabled = true;
        </script>

    <!-- ================ contact section end ================= -->
 

<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="static/assets/js/popper.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="static/assets/js/jquery.slicknav.min.js"></script>
    
        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="static/assets/js/owl.carousel.min.js"></script>
        <script src="static/assets/js/slick.min.js"></script>
        <script src="static/assets/js/price_rangs.js"></script>
        
        <!-- One Page, Animated-HeadLin -->
        <script src="static/assets/js/wow.min.js"></script>
        <script src="static/assets/js/animated.headline.js"></script>
        <script src="static/assets/js/jquery.magnific-popup.js"></script>
    
        <!-- Scrollup, nice-select, sticky -->
        <script src="static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="static/assets/js/jquery.nice-select.min.js"></script>
        <script src="static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="static/assets/js/contact.js"></script>
        <script src="static/assets/js/jquery.form.js"></script>
        <script src="static/assets/js/jquery.validate.min.js"></script>
        <script src="static/assets/js/mail-script.js"></script>
        <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>
        
        <!-- Jquery Plugins, main Jquery -->	
        <script src="static/assets/js/plugins.js"></script>
        <script src="static/assets/js/main.js"></script>
    </main>

{% endblock %}