{% extends 'header_base.html' %}

{% block content %}
<link rel="stylesheet" href="static/admin_assets/vendor/css/core.css" class="template-customizer-core-css" />
<!-- Your page content goes here -->
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="static/assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Get your job</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="job-listing-area pt-120 pb-120">
        <div class="container">
            <div style="max-width: 100%;" class="col-xl-12 col-lg-12 col-md-12">

                <section class="featured-job-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count-job mb-35">
                                   <span style="font-size: larger;">Recommended jobs</span><a style="font-size: large;" href="/view_all_jobs"> View all jobs </a>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- Count of Job list End -->
                        <!-- single-job-content -->
                        <input type="text" id="jobSearch" hidden placeholder="Search by requirements...">
                        {% for job in jobs %}
                        <div class="single-job-items mb-30" data-requirements="{{ job.job_requirements }}">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle job-tittle2">
                                    <a href="#">
                                        <h4>{{ job.job_title }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ job.company_name }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.job_address }}</li>
                                        <li>P{{ job.salary_range_min }} - P{{ job.salary_range_max }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link items-link2 f-right">
                                <a href="{{ url_for('job_details', job_id=job.id) }}">View</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <!-- Featured_job_end -->
            </div>
        </div>
    </div>
    <!-- Job List Area End -->

    <!--Pagination Start  -->
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if jobs.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('job_listing', page=jobs.prev_num) }}"><span class="ti-angle-left"></span> Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link"><span class="ti-angle-left"></span> Previous</span>
                                </li>
                                {% endif %}
                                {% for num in jobs.iter_pages() %}
                                <li class="page-item {% if num == jobs.page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('job_listing', page=num) }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if jobs.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('job_listing', page=jobs.next_num) }}">Next <span class="ti-angle-right"></span></a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next <span class="ti-angle-right"></span></span>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('jobSearch').addEventListener('keyup', function () {
            var searchText = this.value.toLowerCase();
            var items = document.querySelectorAll('.single-job-items');
            items.forEach(function (item) {
                var requirements = item.getAttribute('data-requirements').toLowerCase();
                if (requirements.indexOf(searchText) === -1) {
                    item.style.display = 'none';
                } else {
                    item.style.display = 'block';
                }
            });
        });
    </script>
    
    
    <!--Pagination End  -->
    <script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="static/assets/js/owl.carousel.min.js"></script>
    <script src="static/assets/js/slick.min.js"></script>
    <script src="static/assets/js/price_rangs.js"></script>
    
    <!-- One Page, Animated-HeadLin -->
    <script src="static/assets/js/wow.min.js"></script>
    <script src="static/assets/js/animated.headline.js"></script>
    <script src="static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="static/assets/js/jquery.scrollUp.min.js"></script>
    <script src="static/assets/js/jquery.nice-select.min.js"></script>
    <script src="static/assets/js/jquery.sticky.js"></script>
    
    <!-- contact js -->
    <script src="static/assets/js/contact.js"></script>
    <script src="static/assets/js/jquery.form.js"></script>
    <script src="static/assets/js/jquery.validate.min.js"></script>
    <script src="static/assets/js/mail-script.js"></script>
    <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="static/assets/js/plugins.js"></script>
    <script src="static/assets/js/main.js"></script>
</main>
{% endblock %}
