{% extends 'employerheader_base.html' %}
{% block content %}    <link rel="stylesheet" href="static/admin_assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="static/admin_assets/vendor/fonts/boxicons.css" />
<main>

    <div class="job-post-company pt-60 pb-60">
        <div class="container">
                
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="data:image/jpeg;base64,{{ job.employer.company_logo }}" style="width: 115px; height: 115px;" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{ job.company_name }} - {{ job.job_title }} </h4>
                                </a>
                                <ul>
                                    <li>{{ job.company_name }}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{ job.job_address }}</li>
                                    <li><i class="fa-solid fa-file-contract"></i>{{ job.job_type }}</li>
                               
                                </ul>
                            </div>
                        </div>
                    </div>
                      <!-- job single End -->
                   
        
                        <div class="jumbotron">
                            <!-- Section to display list of applicants -->
                            <div class="applicants-section">
                                <h4>Applicants</h4>
                                <br>
                                <ul>
                                    {% for application in applications %}
                                    <li>
                                        <a href="{{ url_for('applicant_details', application_id=application.application_id) }}">
                                            <div class="applicant-box">
                                                <img src="data:image/jpeg;base64,{{ application.user.profile_pic }}" alt="{{ application.user.name }}" width="50" height="50">
                                                <span>{{ application.user.name }} - {{ application.user.email }}</span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                       <div class="small-section-tittle">
                           <h4>Job Overview</h4>
                       </div>
                      <ul>
                        <li>Job Title : <span>{{ job.job_title }}</span></li>
                        <li>Job Address : <span>{{ job.job_address }}</span></li>
                        <li>Contact Person : <span>{{ job.employer.contact_person }}</span></li>
                        <li>Contact : <span>{{ job.employer.phone_no }}</span></li>
                        <li>Email : <span>{{ job.employer.email_add }}</span></li>
          
                          
                      </ul>
                      <div class="apply-button-group">
                        <a class="genric-btn primary" href="{{ url_for('edit_job', job_id=job.id) }}">
                            Edit
                        </a>
                    </div>
                  
                   </div>
                  
            </div>
        </div>
    </div>
    <!-- job post company End -->
    

</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg" style="padding-top: 50px;">
        <div class="container">
            <div class="row d-flex justify-content-between">
               
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                <p>Address :Your address goes
                                    here, your demo address.</p>
                                </li>
                                <li><a href="#">Phone : 09216170786</a></li>
                                <li><a href="#">Email : pesopila@gmail.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
           
            </div>
           <!--  -->
    
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                 <div class="row d-flex justify-content-between align-items-center">
                     <div class="col-xl-10 col-lg-10 ">
                         <div class="footer-copy-right">
                             <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a  target="">AW012</a>
</p>
                         </div>
                     </div>
                     <div class="col-xl-2 col-lg-2">
                         <div class="footer-social f-right">
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-twitter"></i></a>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
    
    <!-- Jquery Slick, Owl-Carousel Plugins -->
    <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/price_rangs.js') }}"></script>
    
    <!-- One Page, Animated-HeadLin -->
    <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/animated.headline.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.js') }}"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.sticky.js') }}"></script>
    
    <!-- Contact js -->
    <script src="{{ url_for('static', filename='assets/js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.ajaxchimp.min.js') }}"></script>
    
    <!-- Jquery Plugins, main Jquery -->
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    
    
</body>
{% endblock %}