<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pila Hunt - Reset Password</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='assets/64d58efce2.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="forms-container">
          <div class="signin-signup">
            <form method="POST" action="{{ url_for('reset_password', token=token) }}">
                <h2 class="title">Reset Password</h2>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="New Password" required />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required />
                </div>
                <input type="submit" value="Reset Password" class="btn solid" />
                <a href="/applicant_login" class="back-to-login">Back to Login</a>
            
                {% if error %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: 14px;">
                                    <strong style="color: tomato;">Error: {{ message }}</strong> 
                                </div>
                            {% elif category == 'success' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 14px;">
                                    <strong style="color: forestgreen;">{{ message }}</strong> 
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
          </div>
        </div>
        <div class="panels-container">
          <div class="panel left-panel">
              <img src="{{ url_for('static', filename='loginsignupimg/log.svg') }}" class="image" alt="">
          </div>
          <div class="panel right-panel">
              <img src="{{ url_for('static', filename='loginsignupimg/register.svg') }}" class="image" alt="">
          </div>
        </div>
      </div>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
